
// ----------------------------------------
//        VARIABLES
// ----------------------------------------

// Ratios gadgets
$double-octave    : 4                 ;
$pi               : 3.14159265359     ;
$major-twelfth    : 3                 ;
$major-eleventh   : 2.666666667       ;
$major-tenth      : 2.5               ;
$octave           : 2                 ;
$major-seventh    : 1.875             ;
$minor-seventh    : 1.777777778       ;
$major-sixth      : 1.666666667       ;
$phi              : 1.618034          ;
$golden           : $phi              ;
$minor-sixth      : 1.6               ;
$fifth            : 1.5               ;
$augmented-fourth : 1.41421           ;
$fourth           : 1.333333333       ;
$major-third      : 1.25              ;
$minor-third      : 1.2               ;
$major-second     : 1.125             ;
$minor-second     : 1.066666667       ;


// Font-size au mobile first (fixe)
$fs-xs: 14px !default;

// Font-sizes responsives min et max
$fs-min: 16px !default;
$fs-max: 22px !default;

// Breakpoints du Font-size responsive
$fs-min-bp: 500px !default;
$fs-max-bp: 1900px !default;

// Ratios des font-sizes selon breakpoints
$fs-ratios: (
    0: 1.067,
    500px: 1.15,
    992px: 1.33,
    1600px: 1.41
) !default;

// Classes de font-sizes et puissance des rations
$fs-map: (
    05: 6,
    10: 5, // H1
    20: 4, // H2
    30: 3, // H3
    40: 2, // H4
    45: 1, // intermediaire : .fs-45
    50: 1rem, // Base, H5, p. 1rem = ratio '0'
    60: .8rem, // H6, pas de ratio en dessou de la base
    70: .75rem
) !default;


// Variables sans unités. Ne pas toucher
$fs-min-no-unit: strip-unit($fs-min);
$fs-max-no-unit: strip-unit($fs-max);
$fs-min-bp-no-unit: strip-unit($fs-min-bp);
$fs-max-bp-no-unit: strip-unit($fs-max-bp);
