// ----------------------------------------
//        VARIABLES
// ----------------------------------------

// Pour debuguer
$debug: true !default;

// Les belles intervalles musicales
$double-octave    : 4                 ;
$pi               : 3.14159265359     ;
$major-twelfth    : 3                 ;
$major-eleventh   : 2.666666667       ;
$major-tenth      : 2.5               ;
$octave           : 2                 ;
$major-seventh    : 1.875             ;
$minor-seventh    : 1.777777778       ;
$major-sixth      : 1.666666667       ;
$phi              : 1.618034          ;
$golden           : $phi              ;
$minor-sixth      : 1.6               ;
$fifth            : 1.5               ;
$augmented-fourth : 1.41421           ;
$fourth           : 1.333333333       ;
$major-third      : 1.25              ;
$minor-third      : 1.2               ;
$major-second     : 1.125             ;
$minor-second     : 1.066666667       ;


// Gestion du responsive
//     - Premier breakpoint
//     - Dernier breakpoint
//         - break : Breakpoint
//         - fsize : Font-size de base
//         - ratio : Ratio pour l'échele modulaire

$fs-bigmap: (
    (
        break: 480px,
        fsize: 16px,
        ratio: 1.1
    ),
    (
        break: 1600px,
        fsize: 22px,
        ratio: 1.4
    )
) !default;

// Classes de font-sizes et puissance des rations
$fs-map: (
    10: 4, // H1
    20: 3, // H2
    30: 2, // H3
    40: 1, // H4
    50: 1rem, // Base, H5, p. 1rem = ratio '0'
    60: .8rem, // H6, pas de ratio en dessou de la base
    70: .75rem
) !default;

// Prefix des noms des classes de font-size '.fs-XX'  :
$fs-class-prefix: 'fs-' !default;





// Variables qui me servent de raccourcies, ne pas toucher !

// Font-size au mobile first (fixe)
$fs-xs: fs-get(1, 'fsize');
// Font-sizes responsives min et max
$fs-min: fs-get(1, 'fsize');
$fs-max: fs-get(2, 'fsize');
// Breakpoints du Font-size responsive
$fs-min-bp: fs-get(1, 'break');
$fs-max-bp: fs-get(2, 'break');
// Variables sans unités. Ne pas toucher
$fs-min-no-unit:    fs-get(1, 'fsize', s);
$fs-max-no-unit:    fs-get(2, 'fsize', s);
$fs-min-bp-no-unit: fs-get(1, 'break', s);
$fs-max-bp-no-unit: fs-get(2, 'break', s);
