@charset "UTF-8";
.fs-10 {
  /* @@debug current ratio 1: 1.4641 */
  /* @@debug current ratio 2: 5.0625 */
  font-size: 1.4641rem; }
  @media screen and (min-width: 480px) {
    .fs-10 {
      font-size: calc( 23.4256px + 98.0744 * ( 100vw - 480px ) / ( 1800 - 480 )); } }
  @media screen and (min-width: 1800px) {
    .fs-10 {
      font-size: 5.0625rem; } }

.fs-20 {
  /* @@debug current ratio 1: 1.331 */
  /* @@debug current ratio 2: 3.375 */
  font-size: 1.331rem; }
  @media screen and (min-width: 480px) {
    .fs-20 {
      font-size: calc( 21.296px + 59.704 * ( 100vw - 480px ) / ( 1800 - 480 )); } }
  @media screen and (min-width: 1800px) {
    .fs-20 {
      font-size: 3.375rem; } }

.fs-30 {
  /* @@debug current ratio 1: 1.21 */
  /* @@debug current ratio 2: 2.25 */
  font-size: 1.21rem; }
  @media screen and (min-width: 480px) {
    .fs-30 {
      font-size: calc( 19.36px + 34.64 * ( 100vw - 480px ) / ( 1800 - 480 )); } }
  @media screen and (min-width: 1800px) {
    .fs-30 {
      font-size: 2.25rem; } }

.fs-40 {
  /* @@debug current ratio 1: 1.1 */
  /* @@debug current ratio 2: 1.5 */
  font-size: 1.1rem; }
  @media screen and (min-width: 480px) {
    .fs-40 {
      font-size: calc( 17.6px + 18.4 * ( 100vw - 480px ) / ( 1800 - 480 )); } }
  @media screen and (min-width: 1800px) {
    .fs-40 {
      font-size: 1.5rem; } }

.fs-50 {
  /* @@debug current ratio 1: 1.1 */
  /* @@debug current ratio 2: 1.5 */
  font-size: 1rem; }

.fs-60 {
  /* @@debug current ratio 1: 1.07923 */
  /* @@debug current ratio 2: 1.38316 */
  font-size: 0.8rem; }

.fs-70 {
  /* @@debug current ratio 1: 1.0741 */
  /* @@debug current ratio 2: 1.3554 */
  font-size: 0.75rem; }

html {
  font-size: 16px; }

@media screen and (min-width: 480px) {
  html {
    font-size: calc( 16px + 8 * ( 100vw - 480px ) / ( 1800 - 480 )); } }

@media screen and (min-width: 1800px) {
  html {
    font-size: 24px; } }

.fs-10 {
  /* @@debug current ratio 1: 1.4641 */
  /* @@debug current ratio 2: 5.0625 */
  font-size: 1.4641rem; }
  @media screen and (min-width: 480px) {
    .fs-10 {
      font-size: calc( 23.4256px + 98.0744 * ( 100vw - 480px ) / ( 1800 - 480 )); } }
  @media screen and (min-width: 1800px) {
    .fs-10 {
      font-size: 5.0625rem; } }

.fs-20 {
  /* @@debug current ratio 1: 1.331 */
  /* @@debug current ratio 2: 3.375 */
  font-size: 1.331rem; }
  @media screen and (min-width: 480px) {
    .fs-20 {
      font-size: calc( 21.296px + 59.704 * ( 100vw - 480px ) / ( 1800 - 480 )); } }
  @media screen and (min-width: 1800px) {
    .fs-20 {
      font-size: 3.375rem; } }

.fs-30 {
  /* @@debug current ratio 1: 1.21 */
  /* @@debug current ratio 2: 2.25 */
  font-size: 1.21rem; }
  @media screen and (min-width: 480px) {
    .fs-30 {
      font-size: calc( 19.36px + 34.64 * ( 100vw - 480px ) / ( 1800 - 480 )); } }
  @media screen and (min-width: 1800px) {
    .fs-30 {
      font-size: 2.25rem; } }

.fs-40 {
  /* @@debug current ratio 1: 1.1 */
  /* @@debug current ratio 2: 1.5 */
  font-size: 1.1rem; }
  @media screen and (min-width: 480px) {
    .fs-40 {
      font-size: calc( 17.6px + 18.4 * ( 100vw - 480px ) / ( 1800 - 480 )); } }
  @media screen and (min-width: 1800px) {
    .fs-40 {
      font-size: 1.5rem; } }

.fs-50 {
  /* @@debug current ratio 1: 1.1 */
  /* @@debug current ratio 2: 1.5 */
  font-size: 1rem; }

.fs-60 {
  /* @@debug current ratio 1: 1.07923 */
  /* @@debug current ratio 2: 1.38316 */
  font-size: 0.8rem; }

.fs-70 {
  /* @@debug current ratio 1: 1.0741 */
  /* @@debug current ratio 2: 1.3554 */
  font-size: 0.75rem; }

h1, .h1 {
  /* @@debug current ratio 1: 1.4641 */
  /* @@debug current ratio 2: 5.0625 */
  font-size: 1.4641rem; }
  @media screen and (min-width: 480px) {
    h1, .h1 {
      font-size: calc( 23.4256px + 98.0744 * ( 100vw - 480px ) / ( 1800 - 480 )); } }
  @media screen and (min-width: 1800px) {
    h1, .h1 {
      font-size: 5.0625rem; } }

h2, .h2 {
  /* @@debug current ratio 1: 1.331 */
  /* @@debug current ratio 2: 3.375 */
  font-size: 1.331rem; }
  @media screen and (min-width: 480px) {
    h2, .h2 {
      font-size: calc( 21.296px + 59.704 * ( 100vw - 480px ) / ( 1800 - 480 )); } }
  @media screen and (min-width: 1800px) {
    h2, .h2 {
      font-size: 3.375rem; } }

h3, .h3 {
  /* @@debug current ratio 1: 1.21 */
  /* @@debug current ratio 2: 2.25 */
  font-size: 1.21rem; }
  @media screen and (min-width: 480px) {
    h3, .h3 {
      font-size: calc( 19.36px + 34.64 * ( 100vw - 480px ) / ( 1800 - 480 )); } }
  @media screen and (min-width: 1800px) {
    h3, .h3 {
      font-size: 2.25rem; } }

h4, .h4 {
  /* @@debug current ratio 1: 1.1 */
  /* @@debug current ratio 2: 1.5 */
  font-size: 1.1rem; }
  @media screen and (min-width: 480px) {
    h4, .h4 {
      font-size: calc( 17.6px + 18.4 * ( 100vw - 480px ) / ( 1800 - 480 )); } }
  @media screen and (min-width: 1800px) {
    h4, .h4 {
      font-size: 1.5rem; } }

h5, .h5 {
  /* @@debug current ratio 1: 1.1 */
  /* @@debug current ratio 2: 1.5 */
  font-size: 1rem; }

h6, .h6, label {
  /* @@debug current ratio 1: 1.07923 */
  /* @@debug current ratio 2: 1.38316 */
  font-size: 0.8rem; }

small {
  /* @@debug current ratio 1: 1.0741 */
  /* @@debug current ratio 2: 1.3554 */
  font-size: 0.75rem; }

body {
  font-family: 'Zilla Slab', sans-serif;
  padding: 1rem;
  line-height: 1.4em;
  background-color: aliceblue;
  color: midnightblue; }
  body:before {
    content: '⋰';
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    background: darkturquoise;
    color: aliceblue; }

a {
  color: dodgerblue; }

h1, h2, h3, h4, h5, h6, .title {
  font-weight: 700;
  line-height: 1em;
  margin: .5rem 0; }

p {
  margin: .5rem 0; }

header {
  color: darkturquoise;
  margin-bottom: 1rem;
  line-height: 1rem; }

code {
  /* @@debug current ratio 1: 1.0741 */
  /* @@debug current ratio 2: 1.3554 */
  font-size: 0.75rem;
  color: dodgerblue;
  font-weight: 400;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; }

.debug {
  background-color: midnightblue;
  height: 1rem;
  line-height: 1rem;
  padding: 0 0.33rem;
  display: inline-block;
  margin-bottom: 2rem; }

.max-width {
  max-width: 40em; }

footer {
  /* @@debug current ratio 1: 1.1 */
  /* @@debug current ratio 2: 1.5 */
  font-size: 1.1rem;
  height: 1em;
  line-height: 1em;
  margin: 2rem 0; }
  @media screen and (min-width: 480px) {
    footer {
      font-size: calc( 17.6px + 18.4 * ( 100vw - 480px ) / ( 1800 - 480 )); } }
  @media screen and (min-width: 1800px) {
    footer {
      font-size: 1.5rem; } }

/*# sourceMappingURL=demo.css.map */