@charset "UTF-8";
.fs-10 {
  /* @@debug current ratio 1: 1.4641 */
  /* @@debug current ratio 2: 3.8416 */
  font-size: 1.4641rem; }
  @media screen and (min-width: 480px) {
    .fs-10 {
      font-size: calc( 23.4256px + 61.0896 * ( 100vw - 480px ) / ( 1600 - 480 )); } }
  @media screen and (min-width: 1600px) {
    .fs-10 {
      font-size: 3.8416rem; } }

.fs-20 {
  /* @@debug current ratio 1: 1.331 */
  /* @@debug current ratio 2: 2.744 */
  font-size: 1.331rem; }
  @media screen and (min-width: 480px) {
    .fs-20 {
      font-size: calc( 21.296px + 39.072 * ( 100vw - 480px ) / ( 1600 - 480 )); } }
  @media screen and (min-width: 1600px) {
    .fs-20 {
      font-size: 2.744rem; } }

.fs-30 {
  /* @@debug current ratio 1: 1.21 */
  /* @@debug current ratio 2: 1.96 */
  font-size: 1.21rem; }
  @media screen and (min-width: 480px) {
    .fs-30 {
      font-size: calc( 19.36px + 23.76 * ( 100vw - 480px ) / ( 1600 - 480 )); } }
  @media screen and (min-width: 1600px) {
    .fs-30 {
      font-size: 1.96rem; } }

.fs-40 {
  /* @@debug current ratio 1: 1.1 */
  /* @@debug current ratio 2: 1.4 */
  font-size: 1.1rem; }
  @media screen and (min-width: 480px) {
    .fs-40 {
      font-size: calc( 17.6px + 13.2 * ( 100vw - 480px ) / ( 1600 - 480 )); } }
  @media screen and (min-width: 1600px) {
    .fs-40 {
      font-size: 1.4rem; } }

.fs-50 {
  /* @@debug current ratio 1: 1.1 */
  /* @@debug current ratio 2: 1.4 */
  font-size: 1rem; }

.fs-60 {
  /* @@debug current ratio 1: 1.07923 */
  /* @@debug current ratio 2: 1.30889 */
  font-size: 0.8rem; }

.fs-70 {
  /* @@debug current ratio 1: 1.0741 */
  /* @@debug current ratio 2: 1.28705 */
  font-size: 0.75rem; }

html {
  font-size: 16px; }

@media screen and (min-width: 480px) {
  html {
    font-size: calc( 16px + 6 * ( 100vw - 480px ) / ( 1600 - 480 )); } }

@media screen and (min-width: 1600px) {
  html {
    font-size: 22px; } }

.fs-10 {
  /* @@debug current ratio 1: 1.4641 */
  /* @@debug current ratio 2: 3.8416 */
  font-size: 1.4641rem; }
  @media screen and (min-width: 480px) {
    .fs-10 {
      font-size: calc( 23.4256px + 61.0896 * ( 100vw - 480px ) / ( 1600 - 480 )); } }
  @media screen and (min-width: 1600px) {
    .fs-10 {
      font-size: 3.8416rem; } }

.fs-20 {
  /* @@debug current ratio 1: 1.331 */
  /* @@debug current ratio 2: 2.744 */
  font-size: 1.331rem; }
  @media screen and (min-width: 480px) {
    .fs-20 {
      font-size: calc( 21.296px + 39.072 * ( 100vw - 480px ) / ( 1600 - 480 )); } }
  @media screen and (min-width: 1600px) {
    .fs-20 {
      font-size: 2.744rem; } }

.fs-30 {
  /* @@debug current ratio 1: 1.21 */
  /* @@debug current ratio 2: 1.96 */
  font-size: 1.21rem; }
  @media screen and (min-width: 480px) {
    .fs-30 {
      font-size: calc( 19.36px + 23.76 * ( 100vw - 480px ) / ( 1600 - 480 )); } }
  @media screen and (min-width: 1600px) {
    .fs-30 {
      font-size: 1.96rem; } }

.fs-40 {
  /* @@debug current ratio 1: 1.1 */
  /* @@debug current ratio 2: 1.4 */
  font-size: 1.1rem; }
  @media screen and (min-width: 480px) {
    .fs-40 {
      font-size: calc( 17.6px + 13.2 * ( 100vw - 480px ) / ( 1600 - 480 )); } }
  @media screen and (min-width: 1600px) {
    .fs-40 {
      font-size: 1.4rem; } }

.fs-50 {
  /* @@debug current ratio 1: 1.1 */
  /* @@debug current ratio 2: 1.4 */
  font-size: 1rem; }

.fs-60 {
  /* @@debug current ratio 1: 1.07923 */
  /* @@debug current ratio 2: 1.30889 */
  font-size: 0.8rem; }

.fs-70 {
  /* @@debug current ratio 1: 1.0741 */
  /* @@debug current ratio 2: 1.28705 */
  font-size: 0.75rem; }

h1, .h1 {
  /* @@debug current ratio 1: 1.4641 */
  /* @@debug current ratio 2: 3.8416 */
  font-size: 1.4641rem; }
  @media screen and (min-width: 480px) {
    h1, .h1 {
      font-size: calc( 23.4256px + 61.0896 * ( 100vw - 480px ) / ( 1600 - 480 )); } }
  @media screen and (min-width: 1600px) {
    h1, .h1 {
      font-size: 3.8416rem; } }

h2, .h2 {
  /* @@debug current ratio 1: 1.331 */
  /* @@debug current ratio 2: 2.744 */
  font-size: 1.331rem; }
  @media screen and (min-width: 480px) {
    h2, .h2 {
      font-size: calc( 21.296px + 39.072 * ( 100vw - 480px ) / ( 1600 - 480 )); } }
  @media screen and (min-width: 1600px) {
    h2, .h2 {
      font-size: 2.744rem; } }

h3, .h3 {
  /* @@debug current ratio 1: 1.21 */
  /* @@debug current ratio 2: 1.96 */
  font-size: 1.21rem; }
  @media screen and (min-width: 480px) {
    h3, .h3 {
      font-size: calc( 19.36px + 23.76 * ( 100vw - 480px ) / ( 1600 - 480 )); } }
  @media screen and (min-width: 1600px) {
    h3, .h3 {
      font-size: 1.96rem; } }

h4, .h4 {
  /* @@debug current ratio 1: 1.1 */
  /* @@debug current ratio 2: 1.4 */
  font-size: 1.1rem; }
  @media screen and (min-width: 480px) {
    h4, .h4 {
      font-size: calc( 17.6px + 13.2 * ( 100vw - 480px ) / ( 1600 - 480 )); } }
  @media screen and (min-width: 1600px) {
    h4, .h4 {
      font-size: 1.4rem; } }

h5, .h5 {
  /* @@debug current ratio 1: 1.1 */
  /* @@debug current ratio 2: 1.4 */
  font-size: 1rem; }

h6, .h6, label {
  /* @@debug current ratio 1: 1.07923 */
  /* @@debug current ratio 2: 1.30889 */
  font-size: 0.8rem; }

small {
  /* @@debug current ratio 1: 1.0741 */
  /* @@debug current ratio 2: 1.28705 */
  font-size: 0.75rem; }

body {
  font-family: 'Zilla Slab', sans-serif;
  padding: 1rem;
  line-height: 1.4em;
  background-color: lightslategrey; }
  body:before {
    content: '⋰';
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    background: darkorange;
    color: lightslategrey; }

a {
  color: darkorange; }

h1, h2, h3, h4, h5, h6, .title {
  font-weight: 700;
  line-height: 1em;
  margin: .5rem 0; }

p {
  margin: .5rem 0; }

header {
  color: darkorange;
  margin-bottom: 1rem;
  line-height: 1rem; }

code {
  /* @@debug current ratio 1: 1.0741 */
  /* @@debug current ratio 2: 1.28705 */
  font-size: 0.75rem;
  color: darkorange;
  font-weight: 400;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; }

.debug {
  background-color: dimgray;
  height: 1rem;
  line-height: 1rem;
  padding: 0 0.33rem;
  display: inline-block;
  margin-bottom: 2rem; }

.max-width {
  max-width: 40em; }

footer {
  /* @@debug current ratio 1: 1.1 */
  /* @@debug current ratio 2: 1.4 */
  font-size: 1.1rem;
  height: 1em;
  line-height: 1em;
  margin: 2rem 0; }
  @media screen and (min-width: 480px) {
    footer {
      font-size: calc( 17.6px + 13.2 * ( 100vw - 480px ) / ( 1600 - 480 )); } }
  @media screen and (min-width: 1600px) {
    footer {
      font-size: 1.4rem; } }

/*# sourceMappingURL=demo.css.map */