@charset "UTF-8";
html {
  font-size: 14px; }
  @media screen and (min-width: 480px) {
    html {
      font-size: calc( 14px + 6 * (100vw - 480px) / 1320); } }
  @media screen and (min-width: 1800px) {
    html {
      font-size: 20px; } }

/*
*    Création automatique des classes de font-size
*/
.fs-05 {
  font-size: 80px; }
  @media screen and (min-width: 480px) {
    .fs-05 {
      font-size: calc( 80px + 120 * (100vw - 480px) / 1320); } }
  @media screen and (min-width: 1800px) {
    .fs-05 {
      font-size: 200px; } }

.fs-10 {
  font-size: 24.48609px; }
  @media screen and (min-width: 480px) {
    .fs-10 {
      font-size: calc( 24.48609px + 76.76391 * (100vw - 480px) / 1320); } }
  @media screen and (min-width: 1800px) {
    .fs-10 {
      font-size: 101.25px; } }

.fs-20 {
  font-size: 21.29225px; }
  @media screen and (min-width: 480px) {
    .fs-20 {
      font-size: calc( 21.29225px + 46.20775 * (100vw - 480px) / 1320); } }
  @media screen and (min-width: 1800px) {
    .fs-20 {
      font-size: 67.5px; } }

.fs-30 {
  font-size: 18.515px; }
  @media screen and (min-width: 480px) {
    .fs-30 {
      font-size: calc( 18.515px + 26.485 * (100vw - 480px) / 1320); } }
  @media screen and (min-width: 1800px) {
    .fs-30 {
      font-size: 45px; } }

.fs-40 {
  font-size: 16.1px; }
  @media screen and (min-width: 480px) {
    .fs-40 {
      font-size: calc( 16.1px + 13.9 * (100vw - 480px) / 1320); } }
  @media screen and (min-width: 1800px) {
    .fs-40 {
      font-size: 30px; } }

.fs-45 {
  font-size: 14.59948px; }
  @media screen and (min-width: 480px) {
    .fs-45 {
      font-size: calc( 14.59948px + 9.89542 * (100vw - 480px) / 1320); } }
  @media screen and (min-width: 1800px) {
    .fs-45 {
      font-size: 24.4949px; } }

.fs-50 {
  font-size: 1rem; }

.fs-60 {
  font-size: 0.85rem; }

.fs-70 {
  font-size: 11.9px; }
  @media screen and (min-width: 480px) {
    .fs-70 {
      font-size: calc( 11.9px + 2.1 * (100vw - 480px) / 1320); } }
  @media screen and (min-width: 1800px) {
    .fs-70 {
      font-size: 14px; } }

h1, .h1 {
  font-size: 24.48609px; }
  @media screen and (min-width: 480px) {
    h1, .h1 {
      font-size: calc( 24.48609px + 76.76391 * (100vw - 480px) / 1320); } }
  @media screen and (min-width: 1800px) {
    h1, .h1 {
      font-size: 101.25px; } }

h2, .h2 {
  font-size: 21.29225px; }
  @media screen and (min-width: 480px) {
    h2, .h2 {
      font-size: calc( 21.29225px + 46.20775 * (100vw - 480px) / 1320); } }
  @media screen and (min-width: 1800px) {
    h2, .h2 {
      font-size: 67.5px; } }

h3, .h3 {
  font-size: 18.515px; }
  @media screen and (min-width: 480px) {
    h3, .h3 {
      font-size: calc( 18.515px + 26.485 * (100vw - 480px) / 1320); } }
  @media screen and (min-width: 1800px) {
    h3, .h3 {
      font-size: 45px; } }

h4, .h4 {
  font-size: 16.1px; }
  @media screen and (min-width: 480px) {
    h4, .h4 {
      font-size: calc( 16.1px + 13.9 * (100vw - 480px) / 1320); } }
  @media screen and (min-width: 1800px) {
    h4, .h4 {
      font-size: 30px; } }

h5, .h5 {
  font-size: 1rem; }

h6, .h6, label {
  font-size: 0.85rem; }

small, code {
  font-size: 11.9px; }
  @media screen and (min-width: 480px) {
    small, code {
      font-size: calc( 11.9px + 2.1 * (100vw - 480px) / 1320); } }
  @media screen and (min-width: 1800px) {
    small, code {
      font-size: 14px; } }

footer {
  font-size: 16.1px; }
  @media screen and (min-width: 480px) {
    footer {
      font-size: calc( 16.1px + 13.9 * (100vw - 480px) / 1320); } }
  @media screen and (min-width: 1800px) {
    footer {
      font-size: 30px; } }

/*
*    Styles propres à la page démo
*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-family: 'Zilla Slab', sans-serif;
  padding: 1rem;
  line-height: 1.4;
  background-color: aliceblue;
  color: midnightblue; }
  body:before {
    content: '⋰';
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    background: darkturquoise;
    color: aliceblue;
    z-index: 1; }

a {
  color: dodgerblue;
  text-decoration: none; }

a:hover {
  color: mediumblue; }

h1, h2, h3, h4, h5, h6, .title {
  font-weight: 700;
  line-height: 1em;
  margin: .5rem 0; }

p {
  margin: .5rem 0; }

header {
  color: darkturquoise;
  margin-bottom: 1em;
  line-height: 1em; }

code {
  color: dodgerblue;
  font-weight: 400;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; }

.toolbar {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  line-height: 1rem;
  color: dodgerblue; }
  .toolbar > span {
    display: inline-block; }
  .toolbar a {
    margin: 0 .33em;
    display: inline-block; }

.debug {
  background-color: midnightblue;
  color: darkturquoise;
  height: 1rem;
  line-height: 1rem;
  padding: 0 0.5rem;
  display: inline-block;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 2px;
  font-weight: 600; }

.max-width {
  max-width: 40em;
  display: inline-block; }

footer {
  height: 1em;
  line-height: 1em;
  margin: 2rem 0; }

/*# sourceMappingURL=styles.css.map */