@charset "UTF-8";

// Magic :
@import "../../remoflety/remoflety.scss";

// Styles
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 1rem;
    line-height: 1.4em;
    background-color: lightslategrey;
    font-size: 300;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1rem;
        height: 1rem;
        line-height: 1rem;
        text-align: center;
        background: darkorange;
        color: lightslategrey;
    }
}
a {
    color: darkorange;
}
h1, h2, h3, h4, h5, h6, .title {
    font-weight: 600;
    line-height: 1.1em;
    margin: 0;
}
header {
    color: darkorange;
    margin-bottom: 1rem;
    line-height: 1rem;
}
code {
    @include fs(70);
    color: darkorange;
    font-weight: 400;
}
.max-width {
    max-width: 40em;
}
footer {
    @include fs(70);
    padding: 2rem 0;
}
