@charset "UTF-8";

// Variables Remoflety :

// Gestion du responsive
//     - Premier breakpoint
//     - Dernier breakpoint
//         - break : Breakpoint
//         - fsize : Font-size de base
//         - ratio : Ratio pour l'échele modulaire
$fs-bigmap: (
    (
        break: 480px,
        fsize: 15px,
        ratio: 1.12
    ),
    (
        break: 1800px,
        fsize: 24px,
        ratio: 1.5
    )
);

// Classes de font-sizes et puissance des rations
$fs-map: (
    05: 6, // juste gigantesque
    10: 4, // H1
    20: 3, // H2
    30: 2, // H3
    40: 1, // H4
    45: 1.2rem, // intermediaire, juste un peu plus grand que 50
    50: 0, // Base, H5, p. 1rem = ratio '0'
    60: .85rem, // H6, pas de ratio en dessou de la base
    70: .67em
);

// Magic :
@import "../../remoflety/remoflety.scss";


// Styles
// -----------------------------

html {
    box-sizing: border-box;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Zilla Slab', sans-serif;
    padding: 1rem;
    line-height: 1.4;
    background-color: aliceblue;
    color: midnightblue;
    &:before {
        content: '⋰';
        position: absolute;
        top: 0;
        left: 0;
        width: 1rem;
        height: 1rem;
        line-height: 1rem;
        text-align: center;
        background: darkturquoise;
        color: aliceblue;
        z-index: 1;
    }
}
a {
    color: dodgerblue;
    text-decoration: none;
}
a:hover {
    color: mediumblue
}
h1, h2, h3, h4, h5, h6, .title {
    font-weight: 700;
    line-height: 1em;
    margin: .5rem 0;
}
p {
    margin: .5rem 0;
}
header {
    color: darkturquoise;
    margin-bottom: 1em;
    line-height: 1em;
}
code {
    // MIXIN :
    @include fs(70);
    color: dodgerblue;
    font-weight: 400;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
.toolbar {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 1rem;
    color: dodgerblue;
    > span {
        display: inline-block;
    }
    a {
        margin: 0 .33em;
        display: inline-block;
    }
}
.debug {
    background-color: midnightblue;
    color: darkturquoise;
    height: 1rem;
    line-height: 1rem;
    padding: 0 0.5rem;
    display: inline-block;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border-radius: 2px;
    font-weight: 600;
}
.max-width {
    max-width: 40em;
    display: inline-block;
}
footer {
    // MIXIN :
    @include fs(40);
    height: 1em;
    line-height: 1em;
    margin: 2rem 0;
}
